#docktodashContainer.bottom #dash {
  margin: 0px;
  padding: 0px;
}

#docktodashContainer.bottom #dash .dash-background {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  border-radius: 24px;
  spacing: 6px;
}

#docktodashContainer.bottom #dash .dash-separator {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0 4px;
  width: 1px;
  height: 0;
  margin-bottom: 4px;
}

#docktodashContainer.bottom #dash #docktodashDashContainer {
  padding: 10px;
  padding-bottom: 0;
  padding-top: 0;
}

#docktodashContainer.bottom #dash .dash-item-container {
  /* Disable all margins defined upstream, we handle them here */
  margin: 0 2px;
}

#docktodashContainer.bottom #dash .dash-item-container > * {
  margin: 0;
}

#docktodashContainer.bottom #dash .dash-item-container:ltr:first-child, #docktodashContainer.bottom #dash .dash-item-container:rtl:last-child {
  margin-left: 0;
}

#docktodashContainer.bottom #dash .dash-item-container:ltr:last-child, #docktodashContainer.bottom #dash .dash-item-container:rtl:first-child {
  margin-right: 0;
}

#docktodashContainer.bottom #dash .dash-item-container .app-well-app,
#docktodashContainer.bottom #dash .dash-item-container .show-apps {
  padding: 2px 2px;
  padding-bottom: 14px;
  padding-top: 10px;
}

#docktodashContainer.bottom #dash .dash-item-container .app-well-app:ltr:first-child, #docktodashContainer.bottom #dash .dash-item-container .app-well-app:rtl:last-child,
#docktodashContainer.bottom #dash .dash-item-container .show-apps:ltr:first-child,
#docktodashContainer.bottom #dash .dash-item-container .show-apps:rtl:last-child {
  padding-left: 0;
}

#docktodashContainer.bottom #dash .dash-item-container .app-well-app:ltr:last-child, #docktodashContainer.bottom #dash .dash-item-container .app-well-app:rtl:first-child,
#docktodashContainer.bottom #dash .dash-item-container .show-apps:ltr:last-child,
#docktodashContainer.bottom #dash .dash-item-container .show-apps:rtl:first-child {
  padding-right: 0;
}

#docktodashContainer.bottom #dash .dash-item-container .app-well-app.running .overview-icon {
  background-image: none;
}

#docktodashContainer.bottom #dash .dash-item-container .app-well-app.focused .overview-icon {
  background-color: rgba(238, 238, 236, 0.2);
}

#docktodashContainer.bottom #dash .dash-item-container .app-well-app .app-well-app-running-dot {
  margin-bottom: 2px;
}

#docktodashContainer.bottom #dash .dash-item-container > StButton {
  transition-duration: 250;
  background-size: contain;
}

#docktodashContainer.bottom.fixed #dash .dash-background {
  margin-top: 4px;
}

#docktodashContainer.bottom.fixed #dash .dash-item-container .app-well-app,
#docktodashContainer.bottom.fixed #dash .dash-item-container .show-apps {
  padding-top: 14px;
}

.dash-label.bottom {
  margin-bottom: 10px;
  -x-offset: 0;
  -y-offset: 0;
}

#docktodashContainer.bottom.shrink #dash {
  margin: 0px;
  padding: 0px;
}

#docktodashContainer.bottom.shrink #dash .dash-background {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  border-radius: 18px;
  spacing: 2px;
}

#docktodashContainer.bottom.shrink #dash .dash-separator {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0 1px;
  width: 1px;
  height: 0;
  margin-bottom: 4px;
}

#docktodashContainer.bottom.shrink #dash #docktodashDashContainer {
  padding: 3px;
  padding-bottom: 0;
  padding-top: 0;
}

#docktodashContainer.bottom.shrink #dash .dash-item-container {
  /* Disable all margins defined upstream, we handle them here */
  margin: 0 2px;
}

#docktodashContainer.bottom.shrink #dash .dash-item-container > * {
  margin: 0;
}

#docktodashContainer.bottom.shrink #dash .dash-item-container:ltr:first-child, #docktodashContainer.bottom.shrink #dash .dash-item-container:rtl:last-child {
  margin-left: 0;
}

#docktodashContainer.bottom.shrink #dash .dash-item-container:ltr:last-child, #docktodashContainer.bottom.shrink #dash .dash-item-container:rtl:first-child {
  margin-right: 0;
}

#docktodashContainer.bottom.shrink #dash .dash-item-container .app-well-app,
#docktodashContainer.bottom.shrink #dash .dash-item-container .show-apps {
  padding: 1px 1px;
  padding-bottom: 7px;
  padding-top: 3px;
}

#docktodashContainer.bottom.shrink #dash .dash-item-container .app-well-app:ltr:first-child, #docktodashContainer.bottom.shrink #dash .dash-item-container .app-well-app:rtl:last-child,
#docktodashContainer.bottom.shrink #dash .dash-item-container .show-apps:ltr:first-child,
#docktodashContainer.bottom.shrink #dash .dash-item-container .show-apps:rtl:last-child {
  padding-left: 0;
}

#docktodashContainer.bottom.shrink #dash .dash-item-container .app-well-app:ltr:last-child, #docktodashContainer.bottom.shrink #dash .dash-item-container .app-well-app:rtl:first-child,
#docktodashContainer.bottom.shrink #dash .dash-item-container .show-apps:ltr:last-child,
#docktodashContainer.bottom.shrink #dash .dash-item-container .show-apps:rtl:first-child {
  padding-right: 0;
}

#docktodashContainer.bottom.shrink #dash .dash-item-container .app-well-app.running .overview-icon {
  background-image: none;
}

#docktodashContainer.bottom.shrink #dash .dash-item-container .app-well-app.focused .overview-icon {
  background-color: rgba(238, 238, 236, 0.2);
}

#docktodashContainer.bottom.shrink #dash .dash-item-container .app-well-app .app-well-app-running-dot {
  margin-bottom: 2px;
}

#docktodashContainer.bottom.shrink #dash .dash-item-container > StButton {
  transition-duration: 250;
  background-size: contain;
}

#docktodashContainer.bottom.shrink.fixed #dash .dash-background {
  margin-top: 1px;
}

#docktodashContainer.bottom.shrink.fixed #dash .dash-item-container .app-well-app,
#docktodashContainer.bottom.shrink.fixed #dash .dash-item-container .show-apps {
  padding-top: 4px;
}

.dash-label.bottom.shrink {
  margin-bottom: 3px;
  -x-offset: 0;
  -y-offset: 0;
}

#docktodashContainer.bottom.extended #dash {
  margin: 0px;
  padding: 0px;
}

#docktodashContainer.bottom.extended #dash .dash-background {
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  border-radius: 0;
  spacing: 6px;
}

#docktodashContainer.bottom.extended #dash .dash-separator {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0 4px;
  width: 1px;
  height: 0;
  margin-bottom: 0;
}

#docktodashContainer.bottom.extended #dash #docktodashDashContainer {
  padding: 0;
  padding-bottom: 0;
  padding-top: 0;
}

#docktodashContainer.bottom.extended #dash #docktodashDashContainer > :first-child .show-apps {
  padding-left: 8px;
}

#docktodashContainer.bottom.extended #dash #docktodashDashContainer #docktodashDashScrollview:first-child {
  padding-left: 8px;
}

#docktodashContainer.bottom.extended #dash #docktodashDashContainer > :last-child .show-apps {
  padding-right: 8px;
}

#docktodashContainer.bottom.extended #dash #docktodashDashContainer #docktodashDashScrollview:last-child {
  padding-right: 8px;
}

#docktodashContainer.bottom.extended #dash .dash-item-container {
  /* Disable all margins defined upstream, we handle them here */
  margin: 0 2px;
}

#docktodashContainer.bottom.extended #dash .dash-item-container > * {
  margin: 0;
}

#docktodashContainer.bottom.extended #dash .dash-item-container:ltr:first-child, #docktodashContainer.bottom.extended #dash .dash-item-container:rtl:last-child {
  margin-left: 0;
}

#docktodashContainer.bottom.extended #dash .dash-item-container:ltr:last-child, #docktodashContainer.bottom.extended #dash .dash-item-container:rtl:first-child {
  margin-right: 0;
}

#docktodashContainer.bottom.extended #dash .dash-item-container .app-well-app,
#docktodashContainer.bottom.extended #dash .dash-item-container .show-apps {
  padding: 2px 2px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#docktodashContainer.bottom.extended #dash .dash-item-container .app-well-app:ltr:first-child, #docktodashContainer.bottom.extended #dash .dash-item-container .app-well-app:rtl:last-child,
#docktodashContainer.bottom.extended #dash .dash-item-container .show-apps:ltr:first-child,
#docktodashContainer.bottom.extended #dash .dash-item-container .show-apps:rtl:last-child {
  padding-left: 0;
}

#docktodashContainer.bottom.extended #dash .dash-item-container .app-well-app:ltr:last-child, #docktodashContainer.bottom.extended #dash .dash-item-container .app-well-app:rtl:first-child,
#docktodashContainer.bottom.extended #dash .dash-item-container .show-apps:ltr:last-child,
#docktodashContainer.bottom.extended #dash .dash-item-container .show-apps:rtl:first-child {
  padding-right: 0;
}

#docktodashContainer.bottom.extended #dash .dash-item-container .app-well-app.running .overview-icon {
  background-image: none;
}

#docktodashContainer.bottom.extended #dash .dash-item-container .app-well-app.focused .overview-icon {
  background-color: rgba(238, 238, 236, 0.2);
}

#docktodashContainer.bottom.extended #dash .dash-item-container .app-well-app .app-well-app-running-dot {
  margin-bottom: 2px;
}

#docktodashContainer.bottom.extended #dash .dash-item-container > StButton {
  transition-duration: 250;
  background-size: contain;
}

#docktodashContainer.bottom.extended.fixed #dash .dash-background {
  margin-top: 0;
}

#docktodashContainer.bottom.extended.fixed #dash .dash-item-container .app-well-app,
#docktodashContainer.bottom.extended.fixed #dash .dash-item-container .show-apps {
  padding-top: 10px;
}

.dash-label.bottom {
  margin-bottom: 10px;
  -x-offset: 0;
  -y-offset: 0;
}

#docktodashContainer.bottom.extended.shrink #dash {
  margin: 0px;
  padding: 0px;
}

#docktodashContainer.bottom.extended.shrink #dash .dash-background {
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  border-radius: 0;
  spacing: 2px;
}

#docktodashContainer.bottom.extended.shrink #dash .dash-separator {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0 1px;
  width: 1px;
  height: 0;
  margin-bottom: 0;
}

#docktodashContainer.bottom.extended.shrink #dash #docktodashDashContainer {
  padding: 0;
  padding-bottom: 0;
  padding-top: 0;
}

#docktodashContainer.bottom.extended.shrink #dash #docktodashDashContainer > :first-child .show-apps {
  padding-left: 6px;
}

#docktodashContainer.bottom.extended.shrink #dash #docktodashDashContainer #docktodashDashScrollview:first-child {
  padding-left: 6px;
}

#docktodashContainer.bottom.extended.shrink #dash #docktodashDashContainer > :last-child .show-apps {
  padding-right: 6px;
}

#docktodashContainer.bottom.extended.shrink #dash #docktodashDashContainer #docktodashDashScrollview:last-child {
  padding-right: 6px;
}

#docktodashContainer.bottom.extended.shrink #dash .dash-item-container {
  /* Disable all margins defined upstream, we handle them here */
  margin: 0 2px;
}

#docktodashContainer.bottom.extended.shrink #dash .dash-item-container > * {
  margin: 0;
}

#docktodashContainer.bottom.extended.shrink #dash .dash-item-container:ltr:first-child, #docktodashContainer.bottom.extended.shrink #dash .dash-item-container:rtl:last-child {
  margin-left: 0;
}

#docktodashContainer.bottom.extended.shrink #dash .dash-item-container:ltr:last-child, #docktodashContainer.bottom.extended.shrink #dash .dash-item-container:rtl:first-child {
  margin-right: 0;
}

#docktodashContainer.bottom.extended.shrink #dash .dash-item-container .app-well-app,
#docktodashContainer.bottom.extended.shrink #dash .dash-item-container .show-apps {
  padding: 1px 1px;
  padding-bottom: 3px;
  padding-top: 3px;
}

#docktodashContainer.bottom.extended.shrink #dash .dash-item-container .app-well-app:ltr:first-child, #docktodashContainer.bottom.extended.shrink #dash .dash-item-container .app-well-app:rtl:last-child,
#docktodashContainer.bottom.extended.shrink #dash .dash-item-container .show-apps:ltr:first-child,
#docktodashContainer.bottom.extended.shrink #dash .dash-item-container .show-apps:rtl:last-child {
  padding-left: 0;
}

#docktodashContainer.bottom.extended.shrink #dash .dash-item-container .app-well-app:ltr:last-child, #docktodashContainer.bottom.extended.shrink #dash .dash-item-container .app-well-app:rtl:first-child,
#docktodashContainer.bottom.extended.shrink #dash .dash-item-container .show-apps:ltr:last-child,
#docktodashContainer.bottom.extended.shrink #dash .dash-item-container .show-apps:rtl:first-child {
  padding-right: 0;
}

#docktodashContainer.bottom.extended.shrink #dash .dash-item-container .app-well-app.running .overview-icon {
  background-image: none;
}

#docktodashContainer.bottom.extended.shrink #dash .dash-item-container .app-well-app.focused .overview-icon {
  background-color: rgba(238, 238, 236, 0.2);
}

#docktodashContainer.bottom.extended.shrink #dash .dash-item-container .app-well-app .app-well-app-running-dot {
  margin-bottom: 2px;
}

#docktodashContainer.bottom.extended.shrink #dash .dash-item-container > StButton {
  transition-duration: 250;
  background-size: contain;
}

#docktodashContainer.bottom.extended.shrink.fixed #dash .dash-background {
  margin-top: 0;
}

#docktodashContainer.bottom.extended.shrink.fixed #dash .dash-item-container .app-well-app,
#docktodashContainer.bottom.extended.shrink.fixed #dash .dash-item-container .show-apps {
  padding-top: 3px;
}

.dash-label.bottom.shrink {
  margin-bottom: 3px;
  -x-offset: 0;
  -y-offset: 0;
}

.docktodash-app-well-preview-menu-item.bottom {
  padding: 0.5em 0.5em;
}

.docktodash-app-well-preview-menu-item.bottom:ltr:first-child, .docktodash-app-well-preview-menu-item.bottom:rtl:last-child {
  padding-left: 1em;
}

.docktodash-app-well-preview-menu-item.bottom:ltr:last-child, .docktodash-app-well-preview-menu-item.bottom:rtl:first-child {
  padding-right: 1em;
}

#docktodashContainer.top #dash {
  margin: 0px;
  padding: 0px;
}

#docktodashContainer.top #dash .dash-background {
  margin: 0;
  margin-top: 4px;
  padding: 0;
  border-radius: 24px;
  spacing: 6px;
}

#docktodashContainer.top #dash .dash-separator {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0 4px;
  width: 1px;
  height: 0;
  margin-top: 4px;
}

#docktodashContainer.top #dash #docktodashDashContainer {
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

#docktodashContainer.top #dash .dash-item-container {
  /* Disable all margins defined upstream, we handle them here */
  margin: 0 2px;
}

#docktodashContainer.top #dash .dash-item-container > * {
  margin: 0;
}

#docktodashContainer.top #dash .dash-item-container:ltr:first-child, #docktodashContainer.top #dash .dash-item-container:rtl:last-child {
  margin-left: 0;
}

#docktodashContainer.top #dash .dash-item-container:ltr:last-child, #docktodashContainer.top #dash .dash-item-container:rtl:first-child {
  margin-right: 0;
}

#docktodashContainer.top #dash .dash-item-container .app-well-app,
#docktodashContainer.top #dash .dash-item-container .show-apps {
  padding: 2px 2px;
  padding-top: 14px;
  padding-bottom: 10px;
}

#docktodashContainer.top #dash .dash-item-container .app-well-app:ltr:first-child, #docktodashContainer.top #dash .dash-item-container .app-well-app:rtl:last-child,
#docktodashContainer.top #dash .dash-item-container .show-apps:ltr:first-child,
#docktodashContainer.top #dash .dash-item-container .show-apps:rtl:last-child {
  padding-left: 0;
}

#docktodashContainer.top #dash .dash-item-container .app-well-app:ltr:last-child, #docktodashContainer.top #dash .dash-item-container .app-well-app:rtl:first-child,
#docktodashContainer.top #dash .dash-item-container .show-apps:ltr:last-child,
#docktodashContainer.top #dash .dash-item-container .show-apps:rtl:first-child {
  padding-right: 0;
}

#docktodashContainer.top #dash .dash-item-container .app-well-app.running .overview-icon {
  background-image: none;
}

#docktodashContainer.top #dash .dash-item-container .app-well-app.focused .overview-icon {
  background-color: rgba(238, 238, 236, 0.2);
}

#docktodashContainer.top #dash .dash-item-container .app-well-app .app-well-app-running-dot {
  margin-bottom: 2px;
}

#docktodashContainer.top #dash .dash-item-container > StButton {
  transition-duration: 250;
  background-size: contain;
}

#docktodashContainer.top.fixed #dash .dash-background {
  margin-bottom: 4px;
}

#docktodashContainer.top.fixed #dash .dash-item-container .app-well-app,
#docktodashContainer.top.fixed #dash .dash-item-container .show-apps {
  padding-bottom: 14px;
}

.dash-label.top {
  margin-top: 10px;
  -x-offset: 0;
  -y-offset: 0;
}

#docktodashContainer.top.shrink #dash {
  margin: 0px;
  padding: 0px;
}

#docktodashContainer.top.shrink #dash .dash-background {
  margin: 0;
  margin-top: 4px;
  padding: 0;
  border-radius: 18px;
  spacing: 2px;
}

#docktodashContainer.top.shrink #dash .dash-separator {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0 1px;
  width: 1px;
  height: 0;
  margin-top: 4px;
}

#docktodashContainer.top.shrink #dash #docktodashDashContainer {
  padding: 3px;
  padding-top: 0;
  padding-bottom: 0;
}

#docktodashContainer.top.shrink #dash .dash-item-container {
  /* Disable all margins defined upstream, we handle them here */
  margin: 0 2px;
}

#docktodashContainer.top.shrink #dash .dash-item-container > * {
  margin: 0;
}

#docktodashContainer.top.shrink #dash .dash-item-container:ltr:first-child, #docktodashContainer.top.shrink #dash .dash-item-container:rtl:last-child {
  margin-left: 0;
}

#docktodashContainer.top.shrink #dash .dash-item-container:ltr:last-child, #docktodashContainer.top.shrink #dash .dash-item-container:rtl:first-child {
  margin-right: 0;
}

#docktodashContainer.top.shrink #dash .dash-item-container .app-well-app,
#docktodashContainer.top.shrink #dash .dash-item-container .show-apps {
  padding: 1px 1px;
  padding-top: 7px;
  padding-bottom: 3px;
}

#docktodashContainer.top.shrink #dash .dash-item-container .app-well-app:ltr:first-child, #docktodashContainer.top.shrink #dash .dash-item-container .app-well-app:rtl:last-child,
#docktodashContainer.top.shrink #dash .dash-item-container .show-apps:ltr:first-child,
#docktodashContainer.top.shrink #dash .dash-item-container .show-apps:rtl:last-child {
  padding-left: 0;
}

#docktodashContainer.top.shrink #dash .dash-item-container .app-well-app:ltr:last-child, #docktodashContainer.top.shrink #dash .dash-item-container .app-well-app:rtl:first-child,
#docktodashContainer.top.shrink #dash .dash-item-container .show-apps:ltr:last-child,
#docktodashContainer.top.shrink #dash .dash-item-container .show-apps:rtl:first-child {
  padding-right: 0;
}

#docktodashContainer.top.shrink #dash .dash-item-container .app-well-app.running .overview-icon {
  background-image: none;
}

#docktodashContainer.top.shrink #dash .dash-item-container .app-well-app.focused .overview-icon {
  background-color: rgba(238, 238, 236, 0.2);
}

#docktodashContainer.top.shrink #dash .dash-item-container .app-well-app .app-well-app-running-dot {
  margin-bottom: 2px;
}

#docktodashContainer.top.shrink #dash .dash-item-container > StButton {
  transition-duration: 250;
  background-size: contain;
}

#docktodashContainer.top.shrink.fixed #dash .dash-background {
  margin-bottom: 1px;
}

#docktodashContainer.top.shrink.fixed #dash .dash-item-container .app-well-app,
#docktodashContainer.top.shrink.fixed #dash .dash-item-container .show-apps {
  padding-bottom: 4px;
}

.dash-label.top.shrink {
  margin-top: 3px;
  -x-offset: 0;
  -y-offset: 0;
}

#docktodashContainer.top.extended #dash {
  margin: 0px;
  padding: 0px;
}

#docktodashContainer.top.extended #dash .dash-background {
  margin: 0;
  margin-top: 0;
  padding: 0;
  border-radius: 0;
  spacing: 6px;
}

#docktodashContainer.top.extended #dash .dash-separator {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0 4px;
  width: 1px;
  height: 0;
  margin-top: 0;
}

#docktodashContainer.top.extended #dash #docktodashDashContainer {
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#docktodashContainer.top.extended #dash #docktodashDashContainer > :first-child .show-apps {
  padding-left: 8px;
}

#docktodashContainer.top.extended #dash #docktodashDashContainer #docktodashDashScrollview:first-child {
  padding-left: 8px;
}

#docktodashContainer.top.extended #dash #docktodashDashContainer > :last-child .show-apps {
  padding-right: 8px;
}

#docktodashContainer.top.extended #dash #docktodashDashContainer #docktodashDashScrollview:last-child {
  padding-right: 8px;
}

#docktodashContainer.top.extended #dash .dash-item-container {
  /* Disable all margins defined upstream, we handle them here */
  margin: 0 2px;
}

#docktodashContainer.top.extended #dash .dash-item-container > * {
  margin: 0;
}

#docktodashContainer.top.extended #dash .dash-item-container:ltr:first-child, #docktodashContainer.top.extended #dash .dash-item-container:rtl:last-child {
  margin-left: 0;
}

#docktodashContainer.top.extended #dash .dash-item-container:ltr:last-child, #docktodashContainer.top.extended #dash .dash-item-container:rtl:first-child {
  margin-right: 0;
}

#docktodashContainer.top.extended #dash .dash-item-container .app-well-app,
#docktodashContainer.top.extended #dash .dash-item-container .show-apps {
  padding: 2px 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#docktodashContainer.top.extended #dash .dash-item-container .app-well-app:ltr:first-child, #docktodashContainer.top.extended #dash .dash-item-container .app-well-app:rtl:last-child,
#docktodashContainer.top.extended #dash .dash-item-container .show-apps:ltr:first-child,
#docktodashContainer.top.extended #dash .dash-item-container .show-apps:rtl:last-child {
  padding-left: 0;
}

#docktodashContainer.top.extended #dash .dash-item-container .app-well-app:ltr:last-child, #docktodashContainer.top.extended #dash .dash-item-container .app-well-app:rtl:first-child,
#docktodashContainer.top.extended #dash .dash-item-container .show-apps:ltr:last-child,
#docktodashContainer.top.extended #dash .dash-item-container .show-apps:rtl:first-child {
  padding-right: 0;
}

#docktodashContainer.top.extended #dash .dash-item-container .app-well-app.running .overview-icon {
  background-image: none;
}

#docktodashContainer.top.extended #dash .dash-item-container .app-well-app.focused .overview-icon {
  background-color: rgba(238, 238, 236, 0.2);
}

#docktodashContainer.top.extended #dash .dash-item-container .app-well-app .app-well-app-running-dot {
  margin-bottom: 2px;
}

#docktodashContainer.top.extended #dash .dash-item-container > StButton {
  transition-duration: 250;
  background-size: contain;
}

#docktodashContainer.top.extended.fixed #dash .dash-background {
  margin-bottom: 0;
}

#docktodashContainer.top.extended.fixed #dash .dash-item-container .app-well-app,
#docktodashContainer.top.extended.fixed #dash .dash-item-container .show-apps {
  padding-bottom: 10px;
}

.dash-label.top {
  margin-top: 10px;
  -x-offset: 0;
  -y-offset: 0;
}

#docktodashContainer.top.extended.shrink #dash {
  margin: 0px;
  padding: 0px;
}

#docktodashContainer.top.extended.shrink #dash .dash-background {
  margin: 0;
  margin-top: 0;
  padding: 0;
  border-radius: 0;
  spacing: 2px;
}

#docktodashContainer.top.extended.shrink #dash .dash-separator {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0 1px;
  width: 1px;
  height: 0;
  margin-top: 0;
}

#docktodashContainer.top.extended.shrink #dash #docktodashDashContainer {
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#docktodashContainer.top.extended.shrink #dash #docktodashDashContainer > :first-child .show-apps {
  padding-left: 6px;
}

#docktodashContainer.top.extended.shrink #dash #docktodashDashContainer #docktodashDashScrollview:first-child {
  padding-left: 6px;
}

#docktodashContainer.top.extended.shrink #dash #docktodashDashContainer > :last-child .show-apps {
  padding-right: 6px;
}

#docktodashContainer.top.extended.shrink #dash #docktodashDashContainer #docktodashDashScrollview:last-child {
  padding-right: 6px;
}

#docktodashContainer.top.extended.shrink #dash .dash-item-container {
  /* Disable all margins defined upstream, we handle them here */
  margin: 0 2px;
}

#docktodashContainer.top.extended.shrink #dash .dash-item-container > * {
  margin: 0;
}

#docktodashContainer.top.extended.shrink #dash .dash-item-container:ltr:first-child, #docktodashContainer.top.extended.shrink #dash .dash-item-container:rtl:last-child {
  margin-left: 0;
}

#docktodashContainer.top.extended.shrink #dash .dash-item-container:ltr:last-child, #docktodashContainer.top.extended.shrink #dash .dash-item-container:rtl:first-child {
  margin-right: 0;
}

#docktodashContainer.top.extended.shrink #dash .dash-item-container .app-well-app,
#docktodashContainer.top.extended.shrink #dash .dash-item-container .show-apps {
  padding: 1px 1px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#docktodashContainer.top.extended.shrink #dash .dash-item-container .app-well-app:ltr:first-child, #docktodashContainer.top.extended.shrink #dash .dash-item-container .app-well-app:rtl:last-child,
#docktodashContainer.top.extended.shrink #dash .dash-item-container .show-apps:ltr:first-child,
#docktodashContainer.top.extended.shrink #dash .dash-item-container .show-apps:rtl:last-child {
  padding-left: 0;
}

#docktodashContainer.top.extended.shrink #dash .dash-item-container .app-well-app:ltr:last-child, #docktodashContainer.top.extended.shrink #dash .dash-item-container .app-well-app:rtl:first-child,
#docktodashContainer.top.extended.shrink #dash .dash-item-container .show-apps:ltr:last-child,
#docktodashContainer.top.extended.shrink #dash .dash-item-container .show-apps:rtl:first-child {
  padding-right: 0;
}

#docktodashContainer.top.extended.shrink #dash .dash-item-container .app-well-app.running .overview-icon {
  background-image: none;
}

#docktodashContainer.top.extended.shrink #dash .dash-item-container .app-well-app.focused .overview-icon {
  background-color: rgba(238, 238, 236, 0.2);
}

#docktodashContainer.top.extended.shrink #dash .dash-item-container .app-well-app .app-well-app-running-dot {
  margin-bottom: 2px;
}

#docktodashContainer.top.extended.shrink #dash .dash-item-container > StButton {
  transition-duration: 250;
  background-size: contain;
}

#docktodashContainer.top.extended.shrink.fixed #dash .dash-background {
  margin-bottom: 0;
}

#docktodashContainer.top.extended.shrink.fixed #dash .dash-item-container .app-well-app,
#docktodashContainer.top.extended.shrink.fixed #dash .dash-item-container .show-apps {
  padding-bottom: 3px;
}

.dash-label.top.shrink {
  margin-top: 3px;
  -x-offset: 0;
  -y-offset: 0;
}

.docktodash-app-well-preview-menu-item.top {
  padding: 0.5em 0.5em;
}

.docktodash-app-well-preview-menu-item.top:ltr:first-child, .docktodash-app-well-preview-menu-item.top:rtl:last-child {
  padding-left: 1em;
}

.docktodash-app-well-preview-menu-item.top:ltr:last-child, .docktodash-app-well-preview-menu-item.top:rtl:first-child {
  padding-right: 1em;
}

#docktodashContainer.left #dash {
  margin: 0px;
  padding: 0px;
}

#docktodashContainer.left #dash .dash-background {
  margin: 0;
  margin-left: 4px;
  padding: 0;
  border-radius: 24px;
  spacing: 6px;
}

#docktodashContainer.left #dash .dash-separator {
  background-color: rgba(255, 255, 255, 0.1);
  width: 0;
  height: 1px;
  margin: 4px 0;
  margin-left: 4px;
}

#docktodashContainer.left #dash #docktodashDashContainer {
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
}

#docktodashContainer.left #dash .dash-item-container {
  /* Disable all margins defined upstream, we handle them here */
  margin: 2px 0;
}

#docktodashContainer.left #dash .dash-item-container > * {
  margin: 0;
}

#docktodashContainer.left #dash .dash-item-container:first-child {
  margin-top: 0;
}

#docktodashContainer.left #dash .dash-item-container:last-child {
  margin-bottom: 0;
}

#docktodashContainer.left #dash .dash-item-container .app-well-app,
#docktodashContainer.left #dash .dash-item-container .show-apps {
  padding: 2px 2px;
  padding-left: 14px;
  padding-right: 10px;
}

#docktodashContainer.left #dash .dash-item-container .app-well-app:first-child,
#docktodashContainer.left #dash .dash-item-container .show-apps:first-child {
  padding-top: 0;
}

#docktodashContainer.left #dash .dash-item-container .app-well-app:last-child,
#docktodashContainer.left #dash .dash-item-container .show-apps:last-child {
  padding-bottom: 0;
}

#docktodashContainer.left #dash .dash-item-container .app-well-app.running .overview-icon {
  background-image: none;
}

#docktodashContainer.left #dash .dash-item-container .app-well-app.focused .overview-icon {
  background-color: rgba(238, 238, 236, 0.2);
}

#docktodashContainer.left #dash .dash-item-container .app-well-app .app-well-app-running-dot {
  margin-bottom: 2px;
}

#docktodashContainer.left #dash .dash-item-container > StButton {
  transition-duration: 250;
  background-size: contain;
}

#docktodashContainer.left.fixed #dash .dash-background {
  margin-right: 4px;
}

#docktodashContainer.left.fixed #dash .dash-item-container .app-well-app,
#docktodashContainer.left.fixed #dash .dash-item-container .show-apps {
  padding-right: 14px;
}

.dash-label.left {
  margin: 0;
  -x-offset: 10px;
  -y-offset: 0;
}

#docktodashContainer.left.shrink #dash {
  margin: 0px;
  padding: 0px;
}

#docktodashContainer.left.shrink #dash .dash-background {
  margin: 0;
  margin-left: 4px;
  padding: 0;
  border-radius: 18px;
  spacing: 2px;
}

#docktodashContainer.left.shrink #dash .dash-separator {
  background-color: rgba(255, 255, 255, 0.1);
  width: 0;
  height: 1px;
  margin: 1px 0;
  margin-left: 4px;
}

#docktodashContainer.left.shrink #dash #docktodashDashContainer {
  padding: 3px;
  padding-left: 0;
  padding-right: 0;
}

#docktodashContainer.left.shrink #dash .dash-item-container {
  /* Disable all margins defined upstream, we handle them here */
  margin: 2px 0;
}

#docktodashContainer.left.shrink #dash .dash-item-container > * {
  margin: 0;
}

#docktodashContainer.left.shrink #dash .dash-item-container:first-child {
  margin-top: 0;
}

#docktodashContainer.left.shrink #dash .dash-item-container:last-child {
  margin-bottom: 0;
}

#docktodashContainer.left.shrink #dash .dash-item-container .app-well-app,
#docktodashContainer.left.shrink #dash .dash-item-container .show-apps {
  padding: 1px 1px;
  padding-left: 7px;
  padding-right: 3px;
}

#docktodashContainer.left.shrink #dash .dash-item-container .app-well-app:first-child,
#docktodashContainer.left.shrink #dash .dash-item-container .show-apps:first-child {
  padding-top: 0;
}

#docktodashContainer.left.shrink #dash .dash-item-container .app-well-app:last-child,
#docktodashContainer.left.shrink #dash .dash-item-container .show-apps:last-child {
  padding-bottom: 0;
}

#docktodashContainer.left.shrink #dash .dash-item-container .app-well-app.running .overview-icon {
  background-image: none;
}

#docktodashContainer.left.shrink #dash .dash-item-container .app-well-app.focused .overview-icon {
  background-color: rgba(238, 238, 236, 0.2);
}

#docktodashContainer.left.shrink #dash .dash-item-container .app-well-app .app-well-app-running-dot {
  margin-bottom: 2px;
}

#docktodashContainer.left.shrink #dash .dash-item-container > StButton {
  transition-duration: 250;
  background-size: contain;
}

#docktodashContainer.left.shrink.fixed #dash .dash-background {
  margin-right: 1px;
}

#docktodashContainer.left.shrink.fixed #dash .dash-item-container .app-well-app,
#docktodashContainer.left.shrink.fixed #dash .dash-item-container .show-apps {
  padding-right: 4px;
}

.dash-label.left.shrink {
  margin: 0;
  -x-offset: 3px;
  -y-offset: 0;
}

#docktodashContainer.left.extended #dash {
  margin: 0px;
  padding: 0px;
}

#docktodashContainer.left.extended #dash .dash-background {
  margin: 0;
  margin-left: 0;
  padding: 0;
  border-radius: 0;
  spacing: 6px;
}

#docktodashContainer.left.extended #dash .dash-separator {
  background-color: rgba(255, 255, 255, 0.1);
  width: 0;
  height: 1px;
  margin: 4px 0;
  margin-left: 0;
}

#docktodashContainer.left.extended #dash #docktodashDashContainer {
  padding: 0;
  padding-left: 0;
  padding-right: 0;
}

#docktodashContainer.left.extended #dash #docktodashDashContainer > :first-child .show-apps {
  padding-top: 8px;
}

#docktodashContainer.left.extended #dash #docktodashDashContainer #docktodashDashScrollview:first-child {
  padding-top: 8px;
}

#docktodashContainer.left.extended #dash #docktodashDashContainer > :last-child .show-apps {
  padding-bottom: 8px;
}

#docktodashContainer.left.extended #dash #docktodashDashContainer #docktodashDashScrollview:last-child {
  padding-bottom: 8px;
}

#docktodashContainer.left.extended #dash .dash-item-container {
  /* Disable all margins defined upstream, we handle them here */
  margin: 2px 0;
}

#docktodashContainer.left.extended #dash .dash-item-container > * {
  margin: 0;
}

#docktodashContainer.left.extended #dash .dash-item-container:first-child {
  margin-top: 0;
}

#docktodashContainer.left.extended #dash .dash-item-container:last-child {
  margin-bottom: 0;
}

#docktodashContainer.left.extended #dash .dash-item-container .app-well-app,
#docktodashContainer.left.extended #dash .dash-item-container .show-apps {
  padding: 2px 2px;
  padding-left: 10px;
  padding-right: 10px;
}

#docktodashContainer.left.extended #dash .dash-item-container .app-well-app:first-child,
#docktodashContainer.left.extended #dash .dash-item-container .show-apps:first-child {
  padding-top: 0;
}

#docktodashContainer.left.extended #dash .dash-item-container .app-well-app:last-child,
#docktodashContainer.left.extended #dash .dash-item-container .show-apps:last-child {
  padding-bottom: 0;
}

#docktodashContainer.left.extended #dash .dash-item-container .app-well-app.running .overview-icon {
  background-image: none;
}

#docktodashContainer.left.extended #dash .dash-item-container .app-well-app.focused .overview-icon {
  background-color: rgba(238, 238, 236, 0.2);
}

#docktodashContainer.left.extended #dash .dash-item-container .app-well-app .app-well-app-running-dot {
  margin-bottom: 2px;
}

#docktodashContainer.left.extended #dash .dash-item-container > StButton {
  transition-duration: 250;
  background-size: contain;
}

#docktodashContainer.left.extended.fixed #dash .dash-background {
  margin-right: 0;
}

#docktodashContainer.left.extended.fixed #dash .dash-item-container .app-well-app,
#docktodashContainer.left.extended.fixed #dash .dash-item-container .show-apps {
  padding-right: 10px;
}

.dash-label.left {
  margin: 0;
  -x-offset: 10px;
  -y-offset: 0;
}

#docktodashContainer.left.extended.shrink #dash {
  margin: 0px;
  padding: 0px;
}

#docktodashContainer.left.extended.shrink #dash .dash-background {
  margin: 0;
  margin-left: 0;
  padding: 0;
  border-radius: 0;
  spacing: 2px;
}

#docktodashContainer.left.extended.shrink #dash .dash-separator {
  background-color: rgba(255, 255, 255, 0.1);
  width: 0;
  height: 1px;
  margin: 1px 0;
  margin-left: 0;
}

#docktodashContainer.left.extended.shrink #dash #docktodashDashContainer {
  padding: 0;
  padding-left: 0;
  padding-right: 0;
}

#docktodashContainer.left.extended.shrink #dash #docktodashDashContainer > :first-child .show-apps {
  padding-top: 6px;
}

#docktodashContainer.left.extended.shrink #dash #docktodashDashContainer #docktodashDashScrollview:first-child {
  padding-top: 6px;
}

#docktodashContainer.left.extended.shrink #dash #docktodashDashContainer > :last-child .show-apps {
  padding-bottom: 6px;
}

#docktodashContainer.left.extended.shrink #dash #docktodashDashContainer #docktodashDashScrollview:last-child {
  padding-bottom: 6px;
}

#docktodashContainer.left.extended.shrink #dash .dash-item-container {
  /* Disable all margins defined upstream, we handle them here */
  margin: 2px 0;
}

#docktodashContainer.left.extended.shrink #dash .dash-item-container > * {
  margin: 0;
}

#docktodashContainer.left.extended.shrink #dash .dash-item-container:first-child {
  margin-top: 0;
}

#docktodashContainer.left.extended.shrink #dash .dash-item-container:last-child {
  margin-bottom: 0;
}

#docktodashContainer.left.extended.shrink #dash .dash-item-container .app-well-app,
#docktodashContainer.left.extended.shrink #dash .dash-item-container .show-apps {
  padding: 1px 1px;
  padding-left: 3px;
  padding-right: 3px;
}

#docktodashContainer.left.extended.shrink #dash .dash-item-container .app-well-app:first-child,
#docktodashContainer.left.extended.shrink #dash .dash-item-container .show-apps:first-child {
  padding-top: 0;
}

#docktodashContainer.left.extended.shrink #dash .dash-item-container .app-well-app:last-child,
#docktodashContainer.left.extended.shrink #dash .dash-item-container .show-apps:last-child {
  padding-bottom: 0;
}

#docktodashContainer.left.extended.shrink #dash .dash-item-container .app-well-app.running .overview-icon {
  background-image: none;
}

#docktodashContainer.left.extended.shrink #dash .dash-item-container .app-well-app.focused .overview-icon {
  background-color: rgba(238, 238, 236, 0.2);
}

#docktodashContainer.left.extended.shrink #dash .dash-item-container .app-well-app .app-well-app-running-dot {
  margin-bottom: 2px;
}

#docktodashContainer.left.extended.shrink #dash .dash-item-container > StButton {
  transition-duration: 250;
  background-size: contain;
}

#docktodashContainer.left.extended.shrink.fixed #dash .dash-background {
  margin-right: 0;
}

#docktodashContainer.left.extended.shrink.fixed #dash .dash-item-container .app-well-app,
#docktodashContainer.left.extended.shrink.fixed #dash .dash-item-container .show-apps {
  padding-right: 3px;
}

.dash-label.left.shrink {
  margin: 0;
  -x-offset: 3px;
  -y-offset: 0;
}

.docktodash-app-well-preview-menu-item.left {
  padding: 0.5em 0.5em;
}

.docktodash-app-well-preview-menu-item.left:first-child {
  padding-top: 1em;
}

.docktodash-app-well-preview-menu-item.left:last-child {
  padding-bottom: 1em;
}

#docktodashContainer.right #dash {
  margin: 0px;
  padding: 0px;
}

#docktodashContainer.right #dash .dash-background {
  margin: 0;
  margin-right: 4px;
  padding: 0;
  border-radius: 24px;
  spacing: 6px;
}

#docktodashContainer.right #dash .dash-separator {
  background-color: rgba(255, 255, 255, 0.1);
  width: 0;
  height: 1px;
  margin: 4px 0;
  margin-right: 4px;
}

#docktodashContainer.right #dash #docktodashDashContainer {
  padding: 10px;
  padding-right: 0;
  padding-left: 0;
}

#docktodashContainer.right #dash .dash-item-container {
  /* Disable all margins defined upstream, we handle them here */
  margin: 2px 0;
}

#docktodashContainer.right #dash .dash-item-container > * {
  margin: 0;
}

#docktodashContainer.right #dash .dash-item-container:first-child {
  margin-top: 0;
}

#docktodashContainer.right #dash .dash-item-container:last-child {
  margin-bottom: 0;
}

#docktodashContainer.right #dash .dash-item-container .app-well-app,
#docktodashContainer.right #dash .dash-item-container .show-apps {
  padding: 2px 2px;
  padding-right: 14px;
  padding-left: 10px;
}

#docktodashContainer.right #dash .dash-item-container .app-well-app:first-child,
#docktodashContainer.right #dash .dash-item-container .show-apps:first-child {
  padding-top: 0;
}

#docktodashContainer.right #dash .dash-item-container .app-well-app:last-child,
#docktodashContainer.right #dash .dash-item-container .show-apps:last-child {
  padding-bottom: 0;
}

#docktodashContainer.right #dash .dash-item-container .app-well-app.running .overview-icon {
  background-image: none;
}

#docktodashContainer.right #dash .dash-item-container .app-well-app.focused .overview-icon {
  background-color: rgba(238, 238, 236, 0.2);
}

#docktodashContainer.right #dash .dash-item-container .app-well-app .app-well-app-running-dot {
  margin-bottom: 2px;
}

#docktodashContainer.right #dash .dash-item-container > StButton {
  transition-duration: 250;
  background-size: contain;
}

#docktodashContainer.right.fixed #dash .dash-background {
  margin-left: 4px;
}

#docktodashContainer.right.fixed #dash .dash-item-container .app-well-app,
#docktodashContainer.right.fixed #dash .dash-item-container .show-apps {
  padding-left: 14px;
}

.dash-label.right {
  margin: 0;
  -x-offset: 10px;
  -y-offset: 0;
}

#docktodashContainer.right.shrink #dash {
  margin: 0px;
  padding: 0px;
}

#docktodashContainer.right.shrink #dash .dash-background {
  margin: 0;
  margin-right: 4px;
  padding: 0;
  border-radius: 18px;
  spacing: 2px;
}

#docktodashContainer.right.shrink #dash .dash-separator {
  background-color: rgba(255, 255, 255, 0.1);
  width: 0;
  height: 1px;
  margin: 1px 0;
  margin-right: 4px;
}

#docktodashContainer.right.shrink #dash #docktodashDashContainer {
  padding: 3px;
  padding-right: 0;
  padding-left: 0;
}

#docktodashContainer.right.shrink #dash .dash-item-container {
  /* Disable all margins defined upstream, we handle them here */
  margin: 2px 0;
}

#docktodashContainer.right.shrink #dash .dash-item-container > * {
  margin: 0;
}

#docktodashContainer.right.shrink #dash .dash-item-container:first-child {
  margin-top: 0;
}

#docktodashContainer.right.shrink #dash .dash-item-container:last-child {
  margin-bottom: 0;
}

#docktodashContainer.right.shrink #dash .dash-item-container .app-well-app,
#docktodashContainer.right.shrink #dash .dash-item-container .show-apps {
  padding: 1px 1px;
  padding-right: 7px;
  padding-left: 3px;
}

#docktodashContainer.right.shrink #dash .dash-item-container .app-well-app:first-child,
#docktodashContainer.right.shrink #dash .dash-item-container .show-apps:first-child {
  padding-top: 0;
}

#docktodashContainer.right.shrink #dash .dash-item-container .app-well-app:last-child,
#docktodashContainer.right.shrink #dash .dash-item-container .show-apps:last-child {
  padding-bottom: 0;
}

#docktodashContainer.right.shrink #dash .dash-item-container .app-well-app.running .overview-icon {
  background-image: none;
}

#docktodashContainer.right.shrink #dash .dash-item-container .app-well-app.focused .overview-icon {
  background-color: rgba(238, 238, 236, 0.2);
}

#docktodashContainer.right.shrink #dash .dash-item-container .app-well-app .app-well-app-running-dot {
  margin-bottom: 2px;
}

#docktodashContainer.right.shrink #dash .dash-item-container > StButton {
  transition-duration: 250;
  background-size: contain;
}

#docktodashContainer.right.shrink.fixed #dash .dash-background {
  margin-left: 1px;
}

#docktodashContainer.right.shrink.fixed #dash .dash-item-container .app-well-app,
#docktodashContainer.right.shrink.fixed #dash .dash-item-container .show-apps {
  padding-left: 4px;
}

.dash-label.right.shrink {
  margin: 0;
  -x-offset: 3px;
  -y-offset: 0;
}

#docktodashContainer.right.extended #dash {
  margin: 0px;
  padding: 0px;
}

#docktodashContainer.right.extended #dash .dash-background {
  margin: 0;
  margin-right: 0;
  padding: 0;
  border-radius: 0;
  spacing: 6px;
}

#docktodashContainer.right.extended #dash .dash-separator {
  background-color: rgba(255, 255, 255, 0.1);
  width: 0;
  height: 1px;
  margin: 4px 0;
  margin-right: 0;
}

#docktodashContainer.right.extended #dash #docktodashDashContainer {
  padding: 0;
  padding-right: 0;
  padding-left: 0;
}

#docktodashContainer.right.extended #dash #docktodashDashContainer > :first-child .show-apps {
  padding-top: 8px;
}

#docktodashContainer.right.extended #dash #docktodashDashContainer #docktodashDashScrollview:first-child {
  padding-top: 8px;
}

#docktodashContainer.right.extended #dash #docktodashDashContainer > :last-child .show-apps {
  padding-bottom: 8px;
}

#docktodashContainer.right.extended #dash #docktodashDashContainer #docktodashDashScrollview:last-child {
  padding-bottom: 8px;
}

#docktodashContainer.right.extended #dash .dash-item-container {
  /* Disable all margins defined upstream, we handle them here */
  margin: 2px 0;
}

#docktodashContainer.right.extended #dash .dash-item-container > * {
  margin: 0;
}

#docktodashContainer.right.extended #dash .dash-item-container:first-child {
  margin-top: 0;
}

#docktodashContainer.right.extended #dash .dash-item-container:last-child {
  margin-bottom: 0;
}

#docktodashContainer.right.extended #dash .dash-item-container .app-well-app,
#docktodashContainer.right.extended #dash .dash-item-container .show-apps {
  padding: 2px 2px;
  padding-right: 10px;
  padding-left: 10px;
}

#docktodashContainer.right.extended #dash .dash-item-container .app-well-app:first-child,
#docktodashContainer.right.extended #dash .dash-item-container .show-apps:first-child {
  padding-top: 0;
}

#docktodashContainer.right.extended #dash .dash-item-container .app-well-app:last-child,
#docktodashContainer.right.extended #dash .dash-item-container .show-apps:last-child {
  padding-bottom: 0;
}

#docktodashContainer.right.extended #dash .dash-item-container .app-well-app.running .overview-icon {
  background-image: none;
}

#docktodashContainer.right.extended #dash .dash-item-container .app-well-app.focused .overview-icon {
  background-color: rgba(238, 238, 236, 0.2);
}

#docktodashContainer.right.extended #dash .dash-item-container .app-well-app .app-well-app-running-dot {
  margin-bottom: 2px;
}

#docktodashContainer.right.extended #dash .dash-item-container > StButton {
  transition-duration: 250;
  background-size: contain;
}

#docktodashContainer.right.extended.fixed #dash .dash-background {
  margin-left: 0;
}

#docktodashContainer.right.extended.fixed #dash .dash-item-container .app-well-app,
#docktodashContainer.right.extended.fixed #dash .dash-item-container .show-apps {
  padding-left: 10px;
}

.dash-label.right {
  margin: 0;
  -x-offset: 10px;
  -y-offset: 0;
}

#docktodashContainer.right.extended.shrink #dash {
  margin: 0px;
  padding: 0px;
}

#docktodashContainer.right.extended.shrink #dash .dash-background {
  margin: 0;
  margin-right: 0;
  padding: 0;
  border-radius: 0;
  spacing: 2px;
}

#docktodashContainer.right.extended.shrink #dash .dash-separator {
  background-color: rgba(255, 255, 255, 0.1);
  width: 0;
  height: 1px;
  margin: 1px 0;
  margin-right: 0;
}

#docktodashContainer.right.extended.shrink #dash #docktodashDashContainer {
  padding: 0;
  padding-right: 0;
  padding-left: 0;
}

#docktodashContainer.right.extended.shrink #dash #docktodashDashContainer > :first-child .show-apps {
  padding-top: 6px;
}

#docktodashContainer.right.extended.shrink #dash #docktodashDashContainer #docktodashDashScrollview:first-child {
  padding-top: 6px;
}

#docktodashContainer.right.extended.shrink #dash #docktodashDashContainer > :last-child .show-apps {
  padding-bottom: 6px;
}

#docktodashContainer.right.extended.shrink #dash #docktodashDashContainer #docktodashDashScrollview:last-child {
  padding-bottom: 6px;
}

#docktodashContainer.right.extended.shrink #dash .dash-item-container {
  /* Disable all margins defined upstream, we handle them here */
  margin: 2px 0;
}

#docktodashContainer.right.extended.shrink #dash .dash-item-container > * {
  margin: 0;
}

#docktodashContainer.right.extended.shrink #dash .dash-item-container:first-child {
  margin-top: 0;
}

#docktodashContainer.right.extended.shrink #dash .dash-item-container:last-child {
  margin-bottom: 0;
}

#docktodashContainer.right.extended.shrink #dash .dash-item-container .app-well-app,
#docktodashContainer.right.extended.shrink #dash .dash-item-container .show-apps {
  padding: 1px 1px;
  padding-right: 3px;
  padding-left: 3px;
}

#docktodashContainer.right.extended.shrink #dash .dash-item-container .app-well-app:first-child,
#docktodashContainer.right.extended.shrink #dash .dash-item-container .show-apps:first-child {
  padding-top: 0;
}

#docktodashContainer.right.extended.shrink #dash .dash-item-container .app-well-app:last-child,
#docktodashContainer.right.extended.shrink #dash .dash-item-container .show-apps:last-child {
  padding-bottom: 0;
}

#docktodashContainer.right.extended.shrink #dash .dash-item-container .app-well-app.running .overview-icon {
  background-image: none;
}

#docktodashContainer.right.extended.shrink #dash .dash-item-container .app-well-app.focused .overview-icon {
  background-color: rgba(238, 238, 236, 0.2);
}

#docktodashContainer.right.extended.shrink #dash .dash-item-container .app-well-app .app-well-app-running-dot {
  margin-bottom: 2px;
}

#docktodashContainer.right.extended.shrink #dash .dash-item-container > StButton {
  transition-duration: 250;
  background-size: contain;
}

#docktodashContainer.right.extended.shrink.fixed #dash .dash-background {
  margin-left: 0;
}

#docktodashContainer.right.extended.shrink.fixed #dash .dash-item-container .app-well-app,
#docktodashContainer.right.extended.shrink.fixed #dash .dash-item-container .show-apps {
  padding-left: 3px;
}

.dash-label.right.shrink {
  margin: 0;
  -x-offset: 3px;
  -y-offset: 0;
}

.docktodash-app-well-preview-menu-item.right {
  padding: 0.5em 0.5em;
}

.docktodash-app-well-preview-menu-item.right:first-child {
  padding-top: 1em;
}

.docktodash-app-well-preview-menu-item.right:last-child {
  padding-bottom: 1em;
}

#docktodashContainer.top.shrink #dash .dash-background {
  margin-top: 4px;
  margin-bottom: 0;
}

#docktodashContainer.straight-corner #dash .dash-background,
#docktodashContainer.shrink.straight-corner #dash .dash-background {
  border-radius: 0px;
}

/* Scrollview style */
.bottom #docktodashDashScrollview,
.top #docktodashDashScrollview {
  -st-hfade-offset: 24px;
}

.left #docktodashDashScrollview,
.right #docktodashDashScrollview {
  -st-vfade-offset: 24px;
}

#docktodashContainer.docktodash #dash .dash-background {
  background: #303030;
}

#docktodashContainer.docktodash .progress-bar {
  /* Customization of the progress bar style, e.g.:
      -progress-bar-background: rgba(0.8, 0.8, 0.8, 1);
      -progress-bar-border: rgba(0.9, 0.9, 0.9, 1);
    */
}

#docktodashContainer.top #dash .placeholder,
#docktodashContainer.bottom #dash .placeholder {
  width: 32px;
  height: 1px;
}

/*
 * This is applied to a dummy actor. Only the alpha value for the background and border color
 * and the transition-duration are used
 */
#docktodashContainer.dummy-opaque {
  background-color: rgba(0, 0, 0, 0.8);
  border-color: rgba(0, 0, 0, 0.4);
  transition-duration: 300ms;
}

/*
 * This is applied to a dummy actor. Only the alpha value for the background and border color
 * and the transition-duration are used
 */
#docktodashContainer.dummy-transparent {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.1);
  transition-duration: 500ms;
}

#docktodashContainer .number-overlay {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

#docktodashContainer .notification-badge {
  color: white;
  background-color: red;
  padding: 0.2em 0.5em;
  border-radius: 1em;
  font-weight: bold;
  text-align: center;
  margin: 2px;
}

#docktodashPreviewSeparator.popup-separator-menu-item-horizontal {
  width: 1px;
  height: auto;
  border-right-width: 1px;
  margin: 32px 0px;
}

#docktodashContainer .metro .overview-icon {
  border-radius: 0px;
}

#docktodashContainer.bottom .metro.running2.focused,
#docktodashContainer.top .metro.running2.focused {
  background-image: url("./media/highlight_stacked_bg.svg");
  background-position: 0px 0px;
  background-size: contain;
}

#docktodashContainer.left .metro.running2.focused,
#docktodashContainer.right .metro.running2.focused {
  background-image: url("./media/highlight_stacked_bg_h.svg");
  background-position: 0px 0px;
  background-size: contain;
}

#docktodashContainer.bottom .metro.running3.focused,
#docktodashContainer.top .metro.running3.focused {
  background-image: url("./media/highlight_stacked_bg.svg");
  background-position: 0px 0px;
  background-size: contain;
}

#docktodashContainer.left .metro.running3.focused,
#docktodashContainer.right .metro.running3.focused {
  background-image: url("./media/highlight_stacked_bg_h.svg");
  background-position: 0px 0px;
  background-size: contain;
}

#docktodashContainer.bottom .metro.running4.focused,
#docktodashContainer.top .metro.running4.focused {
  background-image: url("./media/highlight_stacked_bg.svg");
  background-position: 0px 0px;
  background-size: contain;
}

#docktodashContainer.left .metro.running4.focused,
#docktodashContainer.right .metro.running4.focused {
  background-image: url("./media/highlight_stacked_bg_h.svg");
  background-position: 0px 0px;
  background-size: contain;
}
